.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0 0 40px;

    width: 355px;
    .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
    }
    img {
        cursor: pointer;
    }
}

.text {
    padding-top: 16px;
    margin-left: 40px;
    max-width: 670px;
    &__subtitle {
        font-weight: normal;
        font-size: 15px;
        line-height: 140%;
    }
}

.subtext {
    font-weight: 600;
    font-size: 13px;
    line-height: 120%;
    padding: 40px 0 0 40px;
}

.connection {
    padding: 16px 0 80px 40px;
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
        background: #36ba5f;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 225px;
        padding: 15px 57px 15px 56px;
        cursor: pointer;

        p {
            font-weight: 600;
            font-size: 15px;
            line-height: 120%;
            margin-left: 5px;
        }
    }

    .social {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__item {
            width: 56px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 13px;
            background: #f9f9f9;
            margin-right: 14px;
        }
    }
}

@media (max-width: 576px) {
    .heading {
        padding-left: 0px;
        width: 320px;
    }
    .text {
        margin-left: 25px;
        max-width: 320px;
    }
    .connection {
        flex-direction: column;
        padding: 16px 0 50px 0px;
        width: 320px;
    }
    .subtext {
        text-align: center;
        padding: 40px 10px 0 10px;
    }

    .social {
        margin-top: 20px;
    }
    .btn {
        margin-top: 40px;
    }
}

@media (max-width: 400px) {
    .heading {
        flex-direction: column;

        .title {
            font-size: 20px;
        }
    }
}
